<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Secure Software Engineering Learning</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="sidenav">
            <a href="/home">Home</a>
            <a href="/overview">Overview</a>
            <a href="/sql">SQL Injections</a>
            <a href="/touchpoint">Touchpoints</a>
        </div>
        <div class="pageContent">
            <h1>New Page Template</h1>

            <! What is it & Why is it bad>
            <p></p>
            <hr>

            <! General steps on how it works>
            <h2>How does it work?</h2>
            <hr>

            <! List Steps>
            <ol>
                <li></li>
                <br>
            </ol>

            <! Include Example if possible>
            <p></p>
            <hr>

            <! How to Solve>
            <h2>How can you solve it?</h2>
            <hr>

            <p></p>
            <br>

            <! Possible Solution Resources>
            <p></p>
            <ul>
                <li><a href="#">blank</a></li>
            </ul>
            <hr>

            <! References>
            <div class="References">
                <h2>References</h2>
                <hr>
                <ul>
                    <li><a href="#">blank</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>