<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure Software Engineering Learning</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidenav">
        <a href="/home">Home</a>
        <a href="/overview">Security Overview</a>
        <a href="/touchpoint">Touchpoints</a>
        <a href="/sql">SQL Injections</a>
    </div>
    <div class="pageContent">
        <h1>Overview of Secure Software</h1>

        <h3>What is Software Security?</h3>
        <p>Software security is the concept of implementing mechanisms in the construction of security to help it
            remain functional to attacks. This creates the need to test software undergoing testing such as localized attacks
            to check its ability to withstand malicious attacks. So, the idea behind software security is building software that is
            secure from creation and does not need to implement additional security elements.
        </p>
        <hr>
        <h3>Why is it Important?</h3>
        <p> Software security is critical because it protects users as well as the company from malicious attacks.
            A malware attack can cause extreme damage to any piece of software while compromising integrity, authentication,
            and availability. If a developer takes this into account in the coding stage damage can be stopped before happening.
        </p>
        <hr>
        <h3>How do we Implement Software Security?</h3>
        <p>According to the book "Software Security: Building Security In", talks about 3 pillars that will be
            covered in more depth later.</p>
        <ol>
            <li>Applied Risk Management</li>
            <br>
            <li>Software Security Touchpoints</li>
            <br>
            <li>Knowledge</li>
        </ol>
        <hr>
        <div class="References">
            <h4 style="color:blue;">Reference</h4>
            <ul>
                <!--place holder atm-->
                <li> <a href="file:///C:/Users/BR/Downloads/Gary_McGraw_-_Software_Security__Building_Security_In-Addison-Wesley_Professional_2006.pdf">Software Security: Building Security In</a></li>
                <!--going to change it to a working link-->
            </ul>
        </div>
    </div>
</body>
</html>
